/crunchtest
/comic booklet
/c1541.exe
/editor
/editor.zip
/element editor/element editor.zip
/boxart
/intro
/Kopie von soulless.prg.bin
/Kopie von Soulless-FullGame.elementeditorproject
/rizen
/soulless_gfx.zip
